<%- include('partials/header'); -%>
<link rel="stylesheet" href="/styles.css">
<header>
  <div class="dog"><!--Come back to style this class in css, not inline if you remember -->
    <img src="/dog.png" alt="picture of dogs" style="width: 150px">
  </div>
  <div class="headings">
    <h2>Pups</h2>
    <h3>Find Dogs looking for HOME!</h3>
    <a href="/dogs" class="btn">View Pups</a>
  </div>
</header>
  



<%- include('partials/footer'); -%>